useDynLib(simplefs)

export( fexists)
export( stat)
export( lstat)
export( fstatat)
export( AT_EMPTY_PATH)
export( AT_NO_AUTOMOUNT)
export( AT_SYMLINK_NOFOLLOW)

export( rename)
export( symlink)
export( funlink)

export( readLinesBySep)

