useDynLib(simplefs)

export( stat)
export( lstat)
export( fstatat)

export( AT_EMPTY_PATH)
export( AT_NO_AUTOMOUNT)
export( AT_SYMLINK_NOFOLLOW)

export( S_IFSOCK)
export( S_IFLNK)
export( S_IFREG)
export( S_IFBLK)
export( S_IFDIR)
export( S_IFCHR)
export( S_IFIFO)

export( fexists)
export( fisdir)
export( fisfile)
export( fis)

export( rename)
export( symlink)
export( funlink)

export( readLinesBySep)

S3method(fexists, character)
S3method(fexists, stat)

S3method(fis, character)
S3method(fis, stat)

